
<div class="text-center">
    <h1 class="display-4">Soy Leonel Márquez </h1>
    <h2 class="display-6">
        Soy un desarrollador full stack especializado en tecnologías de .Net y Javascript.
    </h2>

    <img id="perfil"
         src="~/images/perfil.png"
         alt="perfil.png" />
</div>

<div class="text-center">
    <img id="image-dotnet" src="~/images/dotnet-imagen.png" alt="dotnet-imagen.pgn" />
</div>

<div class="row justify-content-center text-center lm-container-welcome-section bg-primary">
    <div class="col col-md-7 lm-welcome-section">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy recien egresado de la carrera Tecnico en Ingenieria de Sistemas Informaticos,
            la cual curse en la Escuela Tecnologica en Ingenieria Itca-Fepade Regional
            San Miguel.
            Mis practicas Profesionales las realice dando mantenimiento preventivo y correctivo
            a equipos de computación en el Instituto Nacional de Osicala, Morazan.
            Actualmente me encuentro en una pasantia en la empresa de Tigo, en el area
            de Tigo Business con el puesto de B2B Product Intern, me estoy capacitando
            dentro de esta, en computación en la nube de AWS y en mis momentos libres me
            capacito en desarrollo de software.
            <br> <br>
            Poseo conocimientos en los lenguajes de programación PHP, Javascript,
            Java y actualemte me estoy especializando en tecnologias de .Net.
        </p>
    </div>
</div>
