
@model IEnumerable<Project>

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Mis Projectos</h1>
        <p>Aqui se presentan algunos de mis proyectos mas destacados</p>
    </div>

    <partial name="_IterProjects" model="Model" />

}