
<section class="container my-5">
    <div class="row gap-3 justify-content-center">
        <div class="col-md-3 text-center p-3 border rounded">
            <i class="bi bi-cloud-haze2 lm-icon lm-icon-cloud"></i>
            <h3 class="lm-color-orange">Cloud</h3>
            <p>Diseño e implementación de arquitecturas.</p>
            <p class="text-primary lm-header">Stack: </p>
            <ul class="list-unstyled">
                <li>Amazon Web Services</li>
                <li>Azure(Basico)</li>
            </ul>
        </div>
        <div class="col-md-3 text-center p-3 border rounded">
            <i class="bi bi-code-slash lm-icon lm-icon-backend"></i>
            <h3 class="text-center lm-color-blue">Back-End</h3>
            <p>Desarrollo de Web APIs y MVC.</p>
            <p class="text-primary lm-header">Stack: </p>
            <ul class="list-unstyled">
                <li>PHP</li>
                <li>Laravel</li>
                <li>MySQL</li>
                <li>CSharp(C#)</li>
                <li>ASP.NET Core</li>
                <li>ADO.NET</li>
                <li>SQL Server</li>
            </ul>
        </div>
        <div class="col-md-3 text-center p-3 border rounded">
            <i class="bi bi-pc-display-horizontal lm-icon lm-icon-frontend"></i>
            <h3 class="text-center lm-color-yellow">Front-End</h3>
            <p>Desarrollo de paginas web y landing page interactivos.</p>
            <p class="text-primary lm-header">Stack: </p>
            <ul class="list-unstyled">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>React Js(Basico)</li>
            </ul>
        </div>
    </div>
</section>
