
@{
    ViewData["Title"] = "Gracias";
}

<section class="container">
    <h2>Muchas gracias</h2>
    <p>Te agradesco el comunicarte conmigo, pronto tendra mi respuesta a su mensaje.</p>
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index"> 
        <i class="bi bi-arrow-left"></i> 
        Volver a Inicio</a>
</section>
