@model IEnumerable<Project>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Mis Proyectos</h1>
    <p>Aqui encontraras todos los proyectos en los que he trabajado.</p>
</div>

<partial name="_IterProjects" model="Model" />